<footer class="site-footer h-card">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <!--<div class="footer-col footer-col-1">-->
                <!--<ul class="contact-list">-->
                    <!--<a class="u-email" href="mailto:{{ site.data.personal.email }}">{{ site.data.personal.email }}</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/{{ site.data.personal.github }}"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">{{ site.data.personal.github }}</span></a></li></ul>
            </div>
            <div class="footer-col footer-col-3">
                <p>{{ site.data.personal.description }}</p>
            </div>
        </div>
    </div>
</footer>